---
# configure authentication for elasticsearch
# this can only be done on one host

- name: check if auth has been configured already
  stat:
    path: /usr/share/elasticseach/.auth_configured
  register: auth_configured_file
  when: >
    inventory_hostname == groups["elasticsearch"][0] and
    elastic_cert_chain is defined

- name: configure bootstrap password
  ansible.builtin.shell:
    cmd: "printf {{ es_creds.bootstrap }} | /usr/share/elasticsearch/bin/elasticsearch-keystore add bootstrap.password -x"
  when: >
    auth_configured_file.stat is defined and
    not auth_configured_file.stat.exists and
    inventory_hostname == groups["elasticsearch"][0] and
    elastic_cert_chain is defined

# to configure auth with the API, we need elasticsearch to be running
- meta: flush_handlers

- name: configure user passwords
  ansible.builtin.uri:
    url: "{% if elastic_cert_chain is defined %}https://{% else %}http://{% endif %}{{ ansible_default_ipv4.address }}:9200/_security/user/{{ item }}/_password"
    method: POST
    url_username: elastic
    url_password: "{{ es_creds.bootstrap }}"
    body_format: json
    body:
      password: "{{ es_creds[item] }}"
  with_items:
    - apm_system
    - kibana
    - kibana_system
    - logstash_system
    - beats_system
    - remote_monitoring_user
    - elastic # this has to be last, it overrides the bootstrap password
  when: >
    auth_configured_file.stat is defined and
    not auth_configured_file.stat.exists and
    inventory_hostname == groups["elasticsearch"][0] and
    elastic_cert_chain is defined

# https://stackoverflow.com/a/34929776
- name: mark auth as completed
  ansible.builtin.copy:
    content: "yes"
    dest: /usr/share/elasticseach/.auth_configured
    force: no
    owner: root
    group: root
    mode: 0664
  when: >
    auth_configured_file.stat is defined and
    not auth_configured_file.stat.exists and
    inventory_hostname == groups["elasticsearch"][0] and
    elastic_cert_chain is defined