---

- name: save encoded certs
  ansible.builtin.copy:
    dest: "/etc/elasticsearch/{{ item.filename }}.b64"
    content: '{{ item.var }}'
    owner: root
    group: elasticsearch
    mode: 0660
  with_items:
    - contents: "{{ root_ca_certs | default('') }}"
      filename: root.pem
    - contents: "{{ elastic_http_cert | default('') }}" 
      filename: http.p12
    - contents: "{{ elastic_cert_chain | default('') }}" 
      filename: elastic-certificates.p12

- name: decode certs
  ansible.builtin.shell:
    cmd: "cat {{ item }}.b64 | base64 -d > {{ item }}"
  with_items:
    - root.pem
    - http.p12
    - elastic-certificates.p12
  notify: restart elasticsearch

- name: get current keystore contents
  ansible.builtin.shell:
    cmd: "/usr/share/elasticsearch/bin/elasticsearch-keystore list"
  register: keystore_list

- name: save http cert password to keystore
  ansible.builtin.shell:
    cmd: "printf {{ general_p12_password }} | /usr/share/elasticsearch/bin/elasticsearch-keystore add xpack.security.http.ssl.keystore.secure_password -x"
  when: >
    not "xpack.security.http.ssl.keystore.secure_password" in keystore_list.stdout and
    general_p12_password is defined
  notify: restart elasticsearch

- name: save transport cert password to keystore
  ansible.builtin.shell:
    cmd: "printf {{ general_p12_password }} | /usr/share/elasticsearch/bin/elasticsearch-keystore add xpack.security.transport.ssl.keystore.secure_password -x"
  when:
    not "xpack.security.transport.ssl.keystore.secure_password" in keystore_list.stdout and
    general_p12_password is defined
  notify: restart elasticsearch