---
# create config from template and vars
- name: generate elasticsearch config
  ansible.builtin.template:
    src: elasticsearch.yml.j2
    dest: /etc/elasticsearch/elasticsearch.yml
    owner: root
    group: elasticsearch
    mode: 0660
  notify: restart elasticsearch

# generate cert files
- name: generate ssl cert
  copy:
    dest: /etc/elasticsearch/elastic-certificates.p12
    content: '{{ elastic_cert_chain | b64decode }}'
    owner: root
    group: elasticsearch
    mode: 0660
  when: elastic_cert_chain is defined
  notify: restart elasticsearch

- name: generate http cert
  copy:
    dest: /etc/elasticsearch/http.p12
    content: '{{ elastic_http_cert | b64decode }}'
    owner: root
    group: elasticsearch
    mode: 0660
  when: elastic_http_cert is defined
  notify: restart elasticsearch

- name: generate root cert
  copy:
    dest: /etc/elasticsearch/root.pem
    content: '{{ root_ca_cert }}'
    owner: root
    group: elasticsearch
    mode: 0660
  when: root_ca_cert is defined
  notify: restart elasticsearch

# fix directory permissions
- name: set permissions on data directory
  ansible.builtin.file:
    path: /data
    owner: elasticsearch
    mode: 0700
    state: directory
  notify: restart elasticsearch