cluster.name: {{ es_cluster_name }}

node.name: {{ inventory_hostname.split(".")[0] }}

path.data: /data/elasticsearch
path.logs: /var/log/elasticsearch

network.host: {{ ansible_default_ipv4.address }}

discovery.seed_hosts:
{% for host in groups["elasticsearch"] %}
{% if hostvars[host].master_eligible is defined and hostvars[host].master_eligible %}
  - {{ host }}
{% endif %}
{% endfor %}

cluster.initial_master_nodes:
{% for host in groups["elasticsearch"] %}
{% if hostvars[host].master_eligible is defined and hostvars[host].master_eligible %}
  - {{ host.split(".")[0] }}
{% endif %}
{% endfor %}

{% if elastic_cert_chain is defined %}
xpack.security.enabled: true

xpack.security.transport.ssl.enabled: true
xpack.security.transport.ssl.verification_mode: certificate 
xpack.security.transport.ssl.client_authentication: required
xpack.security.transport.ssl.keystore.path: /etc/elasticsearch/elastic-certificates.p12
xpack.security.transport.ssl.truststore.path: /etc/elasticsearch/elastic-certificates.p12
xpack.security.transport.ssl.keystore.secure_password: {{ general_p12_password }}
xpack.security.transport.ssl.truststore.secure_password: {{ general_p12_password }}
{% endif %}

{% if elastic_http_cert is defined %}
xpack.security.http.ssl.enabled: true
xpack.security.http.ssl.keystore.path: /etc/elasticsearch/http.p12
xpack.security.http.ssl.keystore.secure_password: {{ general_p12_password }}
{% endif %}