cluster.name: {{ es_cluster_name }}

node.name: {{ inventory_hostname.split(".")[0] }}

path.data: /var/lib/elasticsearch
path.logs: /var/log/elasticsearch

network.host: {{ ansible_host }}

discovery.seed_hosts:
{% for host in groups["elasticsearch"] %}
{% if hostvars[host].master_eligible %}
  - {{ host }}.{{ domain }}
{% endif %}
{% endfor %}

cluster.initial_master_nodes:
{% for host in groups["elasticsearch"] %}
{% if hostvars[host].master_eligible %}
  - {{ host }}.{{ domain }}
{% endif %}
{% endfor %}