cluster.name: {{ es_cluster_name }}

node.name: {{ inventory_hostname.split(".")[0] }}

path.data: /var/lib/elasticsearch
path.logs: /var/log/elasticsearch

network.host: {{ ansible_host }}

discovery.seed_hosts:
{% for host in groups["elasticsearch"] %}
{% if hostvars[host].master_eligible %}
  - {{ host }}.{{ domain }}
{% endif %}
{% endfor %}

cluster.initial_master_nodes:
{% for host in groups["elasticsearch"] %}
{% if hostvars[host].master_eligible %}
  - {{ host }}
{% endif %}
{% endfor %}

{% if elastic_ssl_cert %}
xpack.security.transport.ssl.enabled: true
xpack.security.transport.ssl.verification_mode: certificate 
xpack.security.transport.ssl.client_authentication: required
xpack.security.transport.ssl.keystore.path: elastic-certificates.p12
xpack.security.transport.ssl.truststore.path: elastic-certificates.p12
{% endif %}

{% if elastic_http_cert %}
xpack.security.http.ssl.enabled: true
xpack.security.http.ssl.keystore.path: http.p12
{% endif %}